{% extends "base.html" %}

{% block head %}
<title>Homepage-Doctor</title>
{% endblock %}

{% block body %}

    <!-- search part -->
    <div>
        <input type="text" name="pat_search" placeholder="Search for a Patient...">
    </div>

    <!-- body part  -->
    <div>
        <!-- body sidebar  -->
        <div>
            <!-- imp: These href in a are temporary for now, we have to change it to redirect it to desired page. -->
            <a href="/"> <button>View Patient profile</button> </a>
            <a href="/"> <button>Add Prescriptions for a Patiet</button> </a>   
        </div>

        <!-- body left  -->
        <div>

            <p> Welcom Back, {{ doctor.doctor_name}} </p>

        </div>
        
    </div>


{% endblock %}