{% extends "base.html" %}

{% block head %}
<title>Homepage-Patient</title>
{% endblock %}

{% block body %}

    <!-- search part -->
    <div>
        <input type="text" name="pat_search" placeholder="Search for a Patient...">
    </div>

    <!-- body part  -->
    <div>
        <!-- body sidebar  -->
        <div>

            <!-- imp: These href in a are temporary for now, we have to change it to redirect it to desired page. -->
            <a href="/"> <button> View all Medical prescriptions </button> </a>
            <a href="/"> <button> View Medical Information </button> </a>
            <a href="/"> <button> View List of all Doctors </button> </a>
        </div>

        <!-- body left  -->
        <div>

        </div>
        
    </div>


{% endblock %}
